.mainPage{
  &__table{
    @media (max-width: 1200px) {
    width: 70%;
  }
    @media (max-width: 810px) {
      width: 90%;
    }
    @media(max-width: 640px){
      width: 580px;
      overflow: auto;
    }

    margin: 20px auto;
    width:50%;
    border: 1px solid;
    text-align: center;
    table-layout: fixed;
    tr,th,td{
      border: 1px solid;
    }


    button{
      margin: 3px;
      cursor: pointer;
      &:hover{
        background-color: #b8b8b8;
        transition: 0.5s;
      }
    }

    input{
      cursor: pointer;
    }

  }
}